# MongoDB Configuration (single URI for all services, each uses its own database)
MONGODB_URI=mongodb+srv://lilnanak1z_db_user:1qGEW3XoRJEjNGj0@emergency-service-db.clauhrg.mongodb.net/?appName=emergency-service-db

# Auth Service
AUTH_SERVICE_PORT=3001
AUTH_SERVICE_URL=http://localhost:3001
JWT_SECRET=7h2k9mR$xK#qL@wN2pV5jF8gD4cT6bY9Z1sA3eU6wQ
JWT_EXPIRE=24h
JWT_REFRESH_SECRET=9K2pL$mR#xQ@vN5sT1wZ4jF7gD3cY6bU8eA2hS9kM
JWT_REFRESH_EXPIRE=7d

# Incident Service
INCIDENT_SERVICE_PORT=3002
INCIDENT_SERVICE_URL=http://localhost:3002
AUTH_SERVICE_URL=http://localhost:3001

# Dispatch Service
DISPATCH_SERVICE_PORT=3003
DISPATCH_SERVICE_URL=http://localhost:3003
INCIDENT_SERVICE_URL=http://localhost:3002

# Analytics Service
ANALYTICS_SERVICE_PORT=3004
ANALYTICS_SERVICE_URL=http://localhost:3004
AUTH_SERVICE_URL=http://localhost:3001
INCIDENT_SERVICE_URL=http://localhost:3002
DISPATCH_SERVICE_URL=http://localhost:3003

# RabbitMQ — use a cloud-hosted URL (e.g. CloudAMQP free tier at cloudamqp.com)
# Format: amqps://user:password@hostname/vhost
RABBITMQ_URL=amqps://wgtnjenx:mwsRvaQ1eyxaa8QpOiMnJnwq7Rb_bbj6@gull.rmq.cloudamqp.com/wgtnjenx
RABBITMQ_EXCHANGE=emergency_platform

# Google Maps
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

# Environment
NODE_ENV=development
